
<div class="row match-height">
 <!-- Filtros y busqueda -->
  <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="card-body">
        <p class="card-text">
          <!-- Add span with <code>.input-group-btn</code> class and add button inside <b>before</b> or <b>after</b>
          <code>&lt;input&gt;</code>. -->
        </p>
        <div class="row">
          <div class="col-md-6 col-12 mb-1">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar" aria-describedby="button-addon2" />
              <!-- [(ngModel)]="search" -->
              <div class="input-group-append" id="button-addon2">
                <!-- (click)="pedirSoloFiltrado()" -->
                <button class="btn btn-outline-primary" type="button"  rippleEffect>
                  <i data-feather="search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12 mb-1">
            <div class="input-group">
              <div class="input-group-prepend">
                
                <button 
                  type="button" 
                  class="btn" 
                  style="padding: 5px;" 
                  [ngClass]="todosVar ===true ? 'btn  btn-danger' : 'btn btn-outline-danger' "
                  rippleEffect>
                  <!-- (click)="pedirTodos()" -->
                  Todos
                </button>
                <!-- (click)="iniciaCerrado()" -->
                <!-- Button trigger modal -->
                
                <button 
                  type="button" 
                  class="btn" 
                  style="padding: 5px;" 
                  [ngClass]="todosVar ===false ? 'btn  btn-success' : 'btn btn-outline-success' "
                  rippleEffect>
                  <!-- (click)="pedirSoloUsuario()" -->
                  Mios
                </button>
                <!-- (click)="datos_A1()" -->
                <!-- Button trigger modal -->
                
                <button type="button" class="btn btn-outline-primary" (click)="modalOpenAD(modalAD)" rippleEffect>
                  Filtro
                </button>
                
                <!-- Modal Filtro-->
                <ng-template #modalAD let-modal>
                  <div class="modal-header">
                    <h6 class="modal-title" id="myModalLabel6">Filtrado de Leads</h6>
                    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" tabindex="0" ngbAutofocus>
                  <!-- Filtrado de Datos -->
                  <div class="card col-lg-12">
                  
                    <!-- <h4 class="card-title">Filtros</h4> -->
                    <div class="card-body">
                      <form novalidate (ngSubmit)="SubmitEmite()" [formGroup]="filtro">
                  
                        <div class="form-row">
                          <div class="form-group col-md-12 col-xs-12 ">
                            <label for="inputSearch">Buscar</label>
                            <div class="input-group">
                              <input type="text" id="inputSearch" class="form-control" placeholder="Buscar"
                                aria-describedby="button-addon2" formControlName="search" />
                              <div class="input-group-append" id="button-addon2">
                                <button class="btn btn-outline-primary" type="submit" rippleEffect>
                                  <i data-feather="search"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="#basicDP">Fecha Alta</label>
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="fecha_alta" ngbDatepicker
                                #basicDP="ngbDatepicker" formControlName="created_start_date">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary feather icon-calendar" (click)="basicDP.toggle()" type="button"
                                  rippleEffect></button>
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="#basicDP2">Fecha Ultima Modificacion</label>
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="fecha_modificacion" ngbDatepicker
                                #basicDP2="ngbDatepicker" formControlName="created_end_date">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary feather icon-calendar" (click)="basicDP2.toggle()" type="button"
                                  rippleEffect></button>
                              </div>
                            </div>
                          </div>
                        </div>
                  
                        <div class="form-row">
                          <!-- Raiting -->
                          <div class="form-group col-md-6">
                            <ngb-rating [(rate)]="filtro.value.raiting" [readonly]="false" [max]="4" class="outline-none estrellita">
                            </ngb-rating>
                  
                            <label for="raiting">Raiting</label>
                            <input type="number" class="form-control" id="raiting" formControlName="raiting" placeholder="Raiting">
                          </div>
                          <!-- Estado in-->
                          <div class="form-group col-md-6">
                            <label for="inputEstado">Estado</label>
                            <input type="text" class="form-control" id="inputEstado" formControlName="status_in" placeholder="Estado">
                          </div>
                          <!-- Usuarios -->
                          <div class="form-group col-md-6">
                            <label for="inputUsuario">Usuario</label>
                            <input type="text" class="form-control" id="inputUsuario" formControlName="user_id__in" placeholder="Usuario">
                          </div>
                  
                          <!-- Consecionarias -->
                          <div class="form-group col-md-6">
                            <label for="inputConsecionario">Consecionario</label>
                            <input type="text" class="form-control" id="inputConsecionario" formControlName="concessionaire__in"
                              placeholder="Consecionario">
                          </div>
                  
                          <!-- Origen -->
                          <div class="form-group col-md-6">
                            <label for="inputOrigen">Origen</label>
                            <input type="text" class="form-control" id="inputOrigen" formControlName="source__origin_id__in"
                              placeholder="Origen">
                          </div>
                  
                          <!-- Canal -->
                          <div class="form-group col-md-6">
                            <label for="inputCanal">Canal</label>
                            <input type="text" class="form-control" id="inputCanal" formControlName="source__channel_id__in"
                              placeholder="Canal">
                          </div>
                  
                          <!-- Medio -->
                          <div class="form-group col-md-6">
                            <label for="inputMedio">Medio</label>
                            <input type="text" class="form-control" id="inputMedio" formControlName="medio" placeholder="Medio">
                          </div>
                  
                          <!-- Marca -->
                          <div class="form-group col-md-6">
                            <label for="inputMarca">Marca</label>
                            <input type="text" class="form-control" id="inputMarca" formControlName="marca" placeholder="Marca">
                          </div>
                  
                          <!-- Modelo -->
                          <div class="form-group col-md-6">
                            <label for="inputModelo">Modelo</label>
                            <input type="text" class="form-control" id="inputModelo" formControlName="vehicles__brand_model__in"
                              placeholder="Modelo">
                          </div>
                  
                          <!-- Version -->
                          <div class="form-group col-md-6">
                            <label for="inputVersion">Version</label>
                            <input type="text" class="form-control" id="inputVersion" formControlName="version" placeholder="Version">
                          </div>
                  
                          <!-- Solicitud -->
                          <div class="form-group col-md-6">
                            <label for="inputSolicitud">Solicitud</label>
                            <input type="text" class="form-control" id="inputSolicitud" formControlName="tasks__type__in"
                              placeholder="Solicitud">
                          </div>
                  
                          <!-- Resultado -->
                          <div class="form-group col-md-6">
                            <label for="inputResultado">Resultado</label>
                            <input type="text" class="form-control" id="inputResultado" formControlName="tasks__media__in"
                              placeholder="Resultado">
                          </div>
                        </div>
                  
                        <!-- <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputCity">City</label>
                              <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inputState">State</label>
                              <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                              </select>
                            </div>
                            <div class="form-group col-md-2">
                              <label for="inputZip">Zip</label>
                              <input type="text" class="form-control" id="inputZip">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="gridCheck">
                              <label class="form-check-label" for="gridCheck">
                                Check me out
                              </label>
                            </div>
                          </div>
                           -->
                  
                        <button [disabled]="filtro.invalid" class="btn btn-primary" type="submit">
                          <i data-feather="search"></i>
                          Filtrar
                        </button>
                  
                      </form>
                    </div>
                  
                  </div>
                  </div>
                  <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>
                      Accept
                    </button> -->
                  </div>
                </ng-template>
                <!-- / Modal Filtro-->
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary"  rippleEffect>
                  Exportar
                </button>

              </div>
              <!-- <input type="text" class="form-control" placeholder="Button on both side" aria-label="Amount" />
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" rippleEffect>Search !</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <!-- Previsualizacion de Datos -->
  <div class="col-lg-12" style="display: none;">
      <h2 class="title">Informacion:</h2>
      <pre class="json_lectura">
        {{ newLeadsArray | json}}
      </pre>
      <ul>
        <li *ngFor="let pizza of newLeadsArray.results ; index as i">
          {{ i + 1 }}. {{ pizza.first_name}} {{ pizza.first_name}} {{last_name}}
        </li>
      </ul>  
      <hr>
  </div>


  <!-- Cards de Leads Historias -->
 <!-- Card Leads Informe nuevos Leads-->
  
  <div class="card col-lg-4 col-md-6 col-xs-12  ">
    <div class="row">
  
      <div class="col-lg-12 titular">
        <h1 class="title text-center" data-target="#collapseExample" data-toggle="collapse">
          Leads Nuevos
          <br>
          <small>
            {{newLeadsArray.count}}
          </small>
        </h1>
      </div>
  
      <div class=" col-lg-12 align-items-center contenedor">
        <div *ngFor="let lead of newLeadsArray.results ;index as i">
          <div class="card card-profile">
            <img src="assets/images/banner/banner-12.jpg" class="img-fluid card-img-top" alt="Profile Cover Photo" />
            <div class="card-body">
            
              <div class="profile-image-wrapper">
                <div class="profile-image">
                  <div class="avatar">
                    <img [(src)]="lead.origin" alt="Origen" />
                  </div>
                </div>
              </div>
              <h3>{{lead.client_name}}</h3>
              <div class="rating">
                <ngb-rating [(rate)]="lead.score" [readonly]="true" [max]="4" class="outline-none estrellita">
                </ngb-rating>
              </div>
              <h6 class="text-muted">
                <i data-feather="phone" class="font-medium-2 cursor-pointer"></i>
                {{lead.client_phone}}
              </h6>
              <h4 class="title" *ngFor="let vehiculos of lead.vehicles_names">
                <i class="fa fa-car"></i>
                {{vehiculos}}
              </h4>
              <div class="badge badge-light-primary profile-badge">
                <i [(data-feather)]="lead.channel"></i>
              </div>
              <hr class="mb-2" />
                            
              <div class="row align-items-center contacto_l" 
              *ngFor="let contac_ of lead.lead_managements_data">
              
                <div class="col-lg-12">
                  <h6 class="text-muted font-weight-bolder">
                    {{contac_.message}}
                  </h6>
                </div>
              
                <div class="col-lg-6">
                  <h6 class="text-muted font-weight-bolder">
                    Fecha
                  </h6>
                  <h6 class="mb-0">{{contac_.created | date: 'dd-MM-yyyy'}}</h6>
                </div>
                
                <div class="col-lg-6">
                  <h6 class="text-muted font-weight-bolder">
                    Hora
                  </h6>
                  <h3 class="mb-0">{{contac_.created | date:'shortTime'}}</h3>
                </div>

                <hr class="mb-2" />
              
              </div>

            </div>
          </div>
          <hr class="mb-0" />
        </div>
      
      </div>
  
    </div>
  </div>
  <!--/ Card Leads Informe-->

  
  <!-- Card Leads Informe Leads Atendidos Comercial-->
  <div class="card col-lg-4 col-md-6  col-xs-12 ">
    <div class="row">
      <div class="col-lg-12 titular">
        <h1 class="title text-center" data-target="#collapseExample" data-toggle="collapse">
          Leads Atendidos Comercial
          <br>
          <small>
            {{comercialArray.count}}
          </small>
        </h1>
      </div>
      
      <div class=" col-lg-12 align-items-center contenedor">
        <div *ngFor="let lead of comercialArray.results ;index as i">
          <div class="card card-profile">
            <img src="assets/images/banner/banner-12.jpg" class="img-fluid card-img-top" alt="Profile Cover Photo" />
            <div class="card-body">
              <div class="profile-image-wrapper">
                <div class="profile-image">
                  <div class="avatar">
                    <img [(src)]="lead.origin" alt="Origen" />
                  </div>
                </div>
              </div>
              <h3>{{lead.client_name}}</h3>
              <div class="rating">
                <ngb-rating [(rate)]="lead.score" [readonly]="true" [max]="4" class="outline-none estrellita">
                </ngb-rating>
              </div>
              <h6 class="text-muted">
                <i data-feather="phone" class="font-medium-2 cursor-pointer"></i>
                {{lead.client_phone}}
              </h6>
              <h4 class="title" *ngFor="let vehiculos of lead.vehicles_names">
                <i class="fa fa-car"></i>
                {{vehiculos}}
              </h4>
              <div class="badge badge-light-primary profile-badge">
                <i [(data-feather)]="lead.channel"></i>
              </div>
              <hr class="mb-2" />
      
              <div class="row align-items-center contacto_l" *ngFor="let contac_ of lead.lead_managements_data">
      
                <div class="col-lg-12">
                  <h6 class="text-muted font-weight-bolder">
                    {{contac_.message}}
                  </h6>
                </div>
      
                <div class="col-lg-6">
                  <h6 class="text-muted font-weight-bolder">
                    Fecha
                  </h6>
                  <h6 class="mb-0">{{contac_.created | date: 'dd-MM-yyyy'}}</h6>
                </div>
      
                <div class="col-lg-6">
                  <h6 class="text-muted font-weight-bolder">
                    Hora
                  </h6>
                  <h3 class="mb-0">{{contac_.created | date:'shortTime'}}</h3>
                </div>
      
                <hr class="mb-2" />
      
              </div>
      
            </div>
          </div>
          <hr class="mb-0" />
        </div>
      
      </div>
    </div>
  </div>
  <!--/ Card Leads Informe-->

  <!-- Card Leads Informe Leads Seguimiento-->
  <div class="card col-lg-4 col-md-6  col-xs-12 ">
    <div class="row">
      <div class="col-lg-12 titular">
        <h1 class="title text-center" data-target="#collapseExample" data-toggle="collapse">
          Leads Seguimiento
          <br>
          <small>
            {{atendidosArray.count}}
          </small>
        </h1>
      </div>
      
      <div class=" col-lg-12 align-items-center contenedor">
        <div *ngFor="let lead of atendidosArray.results ;index as i">
          <div class="card card-profile">
            <img src="assets/images/banner/banner-12.jpg" class="img-fluid card-img-top" alt="Profile Cover Photo" />
            <div class="card-body">
              <div class="profile-image-wrapper">
                <div class="profile-image">
                  <div class="avatar">
                    <img [(src)]="lead.origin" alt="Origen" />
                  </div>
                </div>
              </div>
              <h3>{{lead.client_name}}</h3>
              <div class="rating">
                <ngb-rating [(rate)]="lead.score" [readonly]="true" [max]="4" class="outline-none estrellita">
                </ngb-rating>
              </div>
              <h6 class="text-muted">
                <i data-feather="phone" class="font-medium-2 cursor-pointer"></i>
                {{lead.client_phone}}
              </h6>
              <h4 class="title" *ngFor="let vehiculos of lead.vehicles_names">
                <i class="fa fa-car"></i>
                {{vehiculos}}
              </h4>
              <div class="badge badge-light-primary profile-badge">
                <i [(data-feather)]="lead.channel"></i>
              </div>
              <hr class="mb-2" />
      
              <div class="row align-items-center contacto_l" *ngFor="let contac_ of lead.lead_managements_data">
      
                <div class="col-lg-12">
                  <h6 class="text-muted font-weight-bolder">
                    {{contac_.message}}
                  </h6>
                </div>
      
                <div class="col-lg-6">
                  <h6 class="text-muted font-weight-bolder">
                    Fecha
                  </h6>
                  <h6 class="mb-0">{{contac_.created | date: 'dd-MM-yyyy'}}</h6>
                </div>
      
                <div class="col-lg-6">
                  <h6 class="text-muted font-weight-bolder">
                    Hora
                  </h6>
                  <h3 class="mb-0">{{contac_.created | date:'shortTime'}}</h3>
                </div>
      
                <hr class="mb-2" />
      
              </div>
      
            </div>
          </div>
          <hr class="mb-0" />
        </div>
      
      </div>
    </div>
  </div>
  <!--/ Card Leads Informe-->
  
  <!-- Card Leads Informe Tareas pendientes-->
  <div class="card col-lg-4 col-md-6  col-xs-12 ">
    <div class="row">
      <div class="col-lg-12 titular">
        <h1 class="title text-center" data-target="#collapseExample" data-toggle="collapse">
          Leads Pendientes
          <br>
          <small>
            {{pendientesArray.count}}
          </small>
        </h1>
      </div>
      
      <div class=" col-lg-12 align-items-center contenedor">
        <div *ngFor="let lead of pendientesArray.results ;index as i">
          <div class="card card-profile">
            <img src="assets/images/banner/banner-12.jpg" class="img-fluid card-img-top" alt="Profile Cover Photo" />
            <div class="card-body">
              <div class="profile-image-wrapper">
                <div class="profile-image">
                  <div class="avatar">
                    <img [(src)]="lead.origin" alt="Origen" />
                  </div>
                </div>
              </div>
              <h3>{{lead.client_name}}</h3>
              <div class="rating">
                <ngb-rating [(rate)]="lead.score" [readonly]="true" [max]="4" class="outline-none estrellita">
                </ngb-rating>
              </div>
              <h6 class="text-muted">
                <i data-feather="phone" class="font-medium-2 cursor-pointer"></i>
                {{lead.client_phone}}
              </h6>
              <h4 class="title" *ngFor="let vehiculos of lead.vehicles_names">
                <i class="fa fa-car"></i>
                {{vehiculos}}
              </h4>
              <div class="badge badge-light-primary profile-badge">
                <i [(data-feather)]="lead.channel"></i>
              </div>
              <hr class="mb-2" />
      
              <div class="row align-items-center contacto_l" *ngFor="let contac_ of lead.lead_managements_data">
      
                <div class="col-lg-12">
                  <h6 class="text-muted font-weight-bolder">
                    {{contac_.message}}
                  </h6>
                </div>
      
                <div class="col-lg-6">
                  <h6 class="text-muted font-weight-bolder">
                    Fecha
                  </h6>
                  <h6 class="mb-0">{{contac_.created | date: 'dd-MM-yyyy'}}</h6>
                </div>
      
                <div class="col-lg-6">
                  <h6 class="text-muted font-weight-bolder">
                    Hora
                  </h6>
                  <h3 class="mb-0">{{contac_.created | date:'shortTime'}}</h3>
                </div>
      
                <hr class="mb-2" />
      
              </div>
      
            </div>
          </div>
          <hr class="mb-0" />
        </div>
      
      </div>
    </div>
  </div>
  <!--/ Card Leads Informe-->

  
  <!-- Card Leads Informe Tareas Cerrados-->
  <div class="card col-lg-4 col-md-6  col-xs-12 ">
    <div class="row">
      <div class="col-lg-12 titular">
        <h1 class="title text-center" data-target="#collapseExample" data-toggle="collapse">
          Leads Cerrados
          <br>
          <small>
            {{cerradosArray.count}}
          </small>
        </h1>
      </div>
      
      <div class=" col-lg-12 align-items-center contenedor">
        <div *ngFor="let lead of cerradosArray.results ;index as i">
          <div class="card card-profile">
            <img src="assets/images/banner/banner-12.jpg" class="img-fluid card-img-top" alt="Profile Cover Photo" />
            <div class="card-body">
              <div class="profile-image-wrapper">
                <div class="profile-image">
                  <div class="avatar">
                    <img [(src)]="lead.origin" alt="Origen" />
                  </div>
                </div>
              </div>
              <h3>{{lead.client_name}}</h3>
              <div class="rating">
                <ngb-rating [(rate)]="lead.score" [readonly]="true" [max]="4" class="outline-none estrellita">
                </ngb-rating>
              </div>
              <h6 class="text-muted">
                <i data-feather="phone" class="font-medium-2 cursor-pointer"></i>
                {{lead.client_phone}}
              </h6>
              <h4 class="title" *ngFor="let vehiculos of lead.vehicles_names">
                <i class="fa fa-car"></i>
                {{vehiculos}}
              </h4>
              <div class="badge badge-light-primary profile-badge">
                <i [(data-feather)]="lead.channel"></i>
              </div>
              <hr class="mb-2" />
      
              <div class="row align-items-center contacto_l" *ngFor="let contac_ of lead.lead_managements_data">
      
                <div class="col-lg-12">
                  <h6 class="text-muted font-weight-bolder">
                    {{contac_.message}}
                  </h6>
                </div>
      
                <div class="col-lg-6">
                  <h6 class="text-muted font-weight-bolder">
                    Fecha
                  </h6>
                  <h6 class="mb-0">{{contac_.created | date: 'dd-MM-yyyy'}}</h6>
                </div>
      
                <div class="col-lg-6">
                  <h6 class="text-muted font-weight-bolder">
                    Hora
                  </h6>
                  <h3 class="mb-0">{{contac_.created | date:'shortTime'}}</h3>
                </div>
      
                <hr class="mb-2" />
      
              </div>
      
            </div>
          </div>
          <hr class="mb-0" />
        </div>
      
      </div>
    </div>
  </div>
  <!--/ Card Leads Informe-->


</div>