
<div class="row match-height">
 
  <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="card-body">
        <p class="card-text">
          Add span with <code>.input-group-btn</code> class and add button inside <b>before</b> or <b>after</b>
          <code>&lt;input&gt;</code>.
        </p>
        <div class="row">
          <div class="col-md-6 col-12 mb-1">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Button on right" aria-describedby="button-addon2" />
              <div class="input-group-append" id="button-addon2">
                <button class="btn btn-outline-primary" type="button" rippleEffect>
                  <i data-feather="search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12 mb-1">
            <div class="input-group">
              <div class="input-group-prepend">
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary" (click)="modalOpenAD(modalAD)" rippleEffect>
                  Filtro
                </button>
                
                <!-- Modal Filtro-->
                <ng-template #modalAD let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel6">Disabled Animation</h4>
                    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" tabindex="0" ngbAutofocus>
                    <p>
                      Chocolate bar jelly dragée cupcake chocolate bar I love donut liquorice. Powder I love marzipan
                      donut candy canes jelly-o. Dragée liquorice apple pie candy biscuit danish lemon drops sugar plum.
                    </p>
                    <ngb-alert [type]="'success'" [dismissible]="false">
                      <div class="alert-body">
                        <span class="font-weight-bolder">Well done!</span> You successfully read this important alert
                        message.
                      </div>
                    </ngb-alert>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>
                      Accept
                    </button>
                  </div>
                </ng-template>
                <!-- / Modal Filtro-->
                
              </div>
              <!-- <input type="text" class="form-control" placeholder="Button on both side" aria-label="Amount" />
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" rippleEffect>Search !</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
  </div>
  

  <!-- Card Leads Informe-->
  <div class="col-lg-4 col-md-6 col-12">
    <core-card [actions]="['collapse']">
      <h4 class="card-title">Procesados</h4>
      <div class="card-body cajadeleads">
        
        <core-card [actions]="['collapse', 'expand']">
          <h4 class="card-title">Titulo</h4>
          <div class="card-body">
            <div class="card mb-4">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="card">
                    <div class="card-header">Featured</div>
                    <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to additional content natural lead-in to additional
                        content.
                      </p>
                      <a href="javascript:void(0)" rippleEffect class="btn btn-outline-primary">Go somewhere</a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="card-body">
                    This is some text within a card body. Jelly lemon drops tiramisu chocolate cake cotton candy soufflé oat
                    cake sweet roll. Sugar plum marzipan dragée topping cheesecake chocolate bar. Danish muffin icing donut.
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <div class="card-subtitle text-muted mb-1">Card subtitle</div>
                    <p class="card-text">
                      Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="javascript:void(0)" class="card-link">Card link</a>
                    <a href="javascript:void(0)" class="card-link">Another link</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <hr> 
        </core-card>
        <hr>

        <core-card [actions]="['collapse', 'expand']">
          <h4 class="card-title">Titulo</h4>
          <div class="card-body">
            <div class="card mb-4">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="card">
                    <div class="card-header">Featured</div>
                    <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to additional content natural lead-in to additional
                        content.
                      </p>
                      <a href="javascript:void(0)" rippleEffect class="btn btn-outline-primary">Go somewhere</a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="card-body">
                    This is some text within a card body. Jelly lemon drops tiramisu chocolate cake cotton candy soufflé oat
                    cake sweet roll. Sugar plum marzipan dragée topping cheesecake chocolate bar. Danish muffin icing donut.
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <div class="card-subtitle text-muted mb-1">Card subtitle</div>
                    <p class="card-text">
                      Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="javascript:void(0)" class="card-link">Card link</a>
                    <a href="javascript:void(0)" class="card-link">Another link</a>
                  </div>
                </li>
              </ul>
            </div>
        
          </div>
          <hr>
        </core-card>
      
      </div>
    </core-card>
  </div>
  <!--/ Card Leads Informe-->



</div>