
<div class="row match-height">
  <!-- User Timeline -->
  <!-- <div class="col-lg-3 col-12">
    <div class="card card-user-timeline">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <i data-feather="list" class="user-timeline-title-icon"></i>
          <h4 class="card-title">User Timeline</h4>
        </div>
        <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i>
      </div>
      <div class="card-body">
        <ul class="timeline ml-50 mb-0">
          <li class="timeline-item">
            <span class="timeline-point timeline-point-indicator"></span>
            <div class="timeline-event">
              <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                <h6>12 Invoices have been paid</h6>
                <span class="timeline-event-time mr-1">12 min ago</span>
              </div>
              <p>Invoices have been paid to the company.</p>
              <div class="media align-items-center">
                <img class="mr-1" src="assets/images/icons/json.png" alt="data.json" height="23" />
                <h6 class="media-body mb-0">data.json</h6>
              </div>
            </div>
          </li>
          <li class="timeline-item">
            <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
            <div class="timeline-event">
              <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                <h6>Client Meeting</h6>
                <span class="timeline-event-time mr-1">45 min ago</span>
              </div>
              <p>Project meeting with john @10:15am</p>
              <div class="media align-items-center">
                <div class="avatar mr-50">
                  <img src="assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar" width="38" height="38" />
                </div>
                <div class="media-body">
                  <h6 class="mb-0">John Doe (Client)</h6>
                  <p class="mb-0">CEO of Infibeam</p>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item">
            <span class="timeline-point timeline-point-info timeline-point-indicator"></span>
            <div class="timeline-event">
              <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                <h6>Create a new project for client</h6>
                <span class="timeline-event-time mr-1">2 day ago</span>
              </div>
              <p>Add files to new design folder</p>
              <div class="avatar-group">
                <div
                  data-toggle="tooltip"
                  data-popup="tooltip-custom"
                  data-placement="bottom"
                  data-original-title="Billy Hopkins"
                  class="avatar pull-up"
                >
                  <img src="assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar" width="33" height="33" />
                </div>
                <div
                  data-toggle="tooltip"
                  data-popup="tooltip-custom"
                  data-placement="bottom"
                  data-original-title="Amy Carson"
                  class="avatar pull-up"
                >
                  <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" width="33" height="33" />
                </div>
                <div
                  data-toggle="tooltip"
                  data-popup="tooltip-custom"
                  data-placement="bottom"
                  data-original-title="Brandon Miles"
                  class="avatar pull-up"
                >
                  <img src="assets/images/portrait/small/avatar-s-8.jpg" alt="Avatar" width="33" height="33" />
                </div>
                <div
                  data-toggle="tooltip"
                  data-popup="tooltip-custom"
                  data-placement="bottom"
                  data-original-title="Daisy Weber"
                  class="avatar pull-up"
                >
                  <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" width="33" height="33" />
                </div>
                <div
                  data-toggle="tooltip"
                  data-popup="tooltip-custom"
                  data-placement="bottom"
                  data-original-title="Jenny Looper"
                  class="avatar pull-up"
                >
                  <img src="assets/images/portrait/small/avatar-s-20.jpg" alt="Avatar" width="33" height="33" />
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item">
            <span class="timeline-point timeline-point-danger timeline-point-indicator"></span>
            <div class="timeline-event">
              <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                <h6>Create a new project for client</h6>
                <span class="timeline-event-time mr-1">5 day ago</span>
              </div>
              <p class="mb-0">Add files to new design folder</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
  <!--/ User Timeline -->

  <div class="col-lg-12 col-md-12 col-xs-12"></div>
  
  <!-- Sales Polygon Chart Card -->
  <div class="col-lg-4 col-md-6 col-12">
    <core-card [actions]="['collapse', 'expand', 'reload', 'close']" >
      <div class="core-card-title">Leads</div>
      <div class="card card-app-design">
        <div class="card-body">
          <div class="badge badge-light-primary">
            CALIFICACION LEAD
          </div>
          <h4 class="card-title mt-1 mb-75 pt-25">NOMBRE CLIENTE</h4>
          <p class="card-text font-small-2 mb-2">
            TELEFONO:
          </p>
          <p class="card-text font-small-2 mb-2">
            CANAL:
          </p>
          <div class="design-group mb-2 pt-50">
            <h6 class="section-label">Team</h6>
            <div class="badge badge-light-warning mr-1">AGENTEASIGNADO</div>
            <!-- <div class="badge badge-light-primary">Wireframe</div> -->
          </div>
          <div class="design-group pt-25">
            <h6 class="section-label">Members</h6>
            <div class="avatar">
              <img src="assets/images/portrait/small/avatar-s-9.jpg" width="34" height="34" alt="Avatar" />
            </div>
            <div class="avatar bg-light-danger">
              <div class="avatar-content">PI</div>
            </div>
            <div class="avatar">
              <img src="assets/images/portrait/small/avatar-s-14.jpg" width="34" height="34" alt="Avatar" />
            </div>
            <div class="avatar">
              <img src="assets/images/portrait/small/avatar-s-7.jpg" width="34" height="34" alt="Avatar" />
            </div>
            <div class="avatar bg-light-secondary">
              <div class="avatar-content">AL</div>
            </div>
          </div>
          <div class="card card-user-timeline">
      
            <div class="card-body">
              <ul class="timeline ml-50 mb-0">
                <li class="timeline-item">
                  <span class="timeline-point timeline-point-indicator"></span>
                  <div class="timeline-event">
                    <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                      <h6>12 Invoices have been paid</h6>
                      <span class="timeline-event-time mr-1">12 min ago</span>
                    </div>
                    <p>Invoices have been paid to the company.</p>
                    <div class="media align-items-center">
                      <img class="mr-1" src="assets/images/icons/json.png" alt="data.json" height="23" />
                      <h6 class="media-body mb-0">data.json</h6>
                    </div>
                  </div>
                </li>
                <li class="timeline-item">
                  <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
                  <div class="timeline-event">
                    <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                      <h6>Client Meeting</h6>
                      <span class="timeline-event-time mr-1">45 min ago</span>
                    </div>
                    <p>Project meeting with john @10:15am</p>
                    <div class="media align-items-center">
                      <div class="avatar mr-50">
                        <img src="assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar" width="38" height="38" />
                      </div>
                      <div class="media-body">
                        <h6 class="mb-0">John Doe (Client)</h6>
                        <p class="mb-0">CEO of Infibeam</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="timeline-item">
                  <span class="timeline-point timeline-point-info timeline-point-indicator"></span>
                  <div class="timeline-event">
                    <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                      <h6>Create a new project for client</h6>
                      <span class="timeline-event-time mr-1">2 day ago</span>
                    </div>
                    <p>Add files to new design folder</p>
                    <div class="avatar-group">
                      <div data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom"
                        data-original-title="Billy Hopkins" class="avatar pull-up">
                        <img src="assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar" width="33" height="33" />
                      </div>
                      <div data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom"
                        data-original-title="Amy Carson" class="avatar pull-up">
                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" width="33" height="33" />
                      </div>
                      <div data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom"
                        data-original-title="Brandon Miles" class="avatar pull-up">
                        <img src="assets/images/portrait/small/avatar-s-8.jpg" alt="Avatar" width="33" height="33" />
                      </div>
                      <div data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom"
                        data-original-title="Daisy Weber" class="avatar pull-up">
                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" width="33" height="33" />
                      </div>
                      <div data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom"
                        data-original-title="Jenny Looper" class="avatar pull-up">
                        <img src="assets/images/portrait/small/avatar-s-20.jpg" alt="Avatar" width="33" height="33" />
                      </div>
                    </div>
                  </div>
                </li>
                <li class="timeline-item">
                  <span class="timeline-point timeline-point-danger timeline-point-indicator"></span>
                  <div class="timeline-event">
                    <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                      <h6>Create a new project for client</h6>
                      <span class="timeline-event-time mr-1">5 day ago</span>
                    </div>
                    <p class="mb-0">Add files to new design folder</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <button type="button" rippleEffect class="btn btn-primary btn-block">Join Team</button>
        </div>
      </div>
    </core-card>
  </div>
  <!--/ Sales Polygon Chart Card -->

  <!-- App Design Card -->
  <div class="col-lg-3 col-md-6 col-12">
   
  </div>
  <!--/ App Design Card -->



  
</div>

<!-- <app-invoice-list></app-invoice-list> -->
