@import '@core/scss/base/plugins/charts/chart-apex.scss';
@import '@core/scss/angular/libs/toastr.component.scss';

.cajadeleads{
    padding: 1em;
    max-height: 28rem;
    overflow-y: auto;
}
.forzar100{
    width: 100% !important;
}

.card{
    margin-bottom: 0px !important;
    margin-top: -15px !important;
    // border-bottom: 1px solid black;
}

.card-body{
    padding: 0.5rem !important;
}