@import '@core/scss/base/plugins/charts/chart-apex.scss';
@import '@core/scss/angular/libs/toastr.component.scss';

.cajadeleads{
    padding: 1em;
    max-height: 28rem;
    overflow-y: auto;
}
.forzar100{
    width: 100% !important;
}

.card-title{
    // margin-bottom: 0px !important;
    // margin-top: -15px !important;
    // border-bottom: 1px solid black;
    background-color: whitesmoke;
}

.card-body{
    padding: 0.5rem !important;
}

.contenedor{
    padding: 1em;
    padding-top: 2em;
    background-color: rgb(119 136 153);
    border-radius: 2%;
}