
<div class="col-md-6 col-12 col-xs-12">
    <div class="form-group">
        <label for="consecionarias">Consecionario</label>
        <!-- *ngIf="consecionario" 
                            [items]="consecionario.results" -->
        <ng-select *ngIf="dataSelect_$" [items]="dataSelect_$.results | async" bindLabel="name" placeholder="Buscar Consecionario" appendTo="body"
            clearable="true" [editableSearchTerm]="true" [typeahead]="dataSelect_Input$" [loading]="dataSelect_Loading"
            formControlName="concessionaire__in">
            <ng-template ng-option-tmp let-item="item">
                {{item.name}} <br />
                <small>{{item.id}}</small>
            </ng-template>
        </ng-select>
        <!-- <ng-select 
        [items]="consecionario" 
        bindLabel="name" 
        bindValue="id" 
        [(ngModel)]="selectedPersonId">
        </ng-select> -->
    </div>
</div>