<div class="content-wrapper">
    <div class="content-body">
        <!-- Horizontal Wizard -->
        <!-- <section class="horizontal-wizard">
            <div id="stepper1" class="bs-stepper horizontal-wizard-example">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#account-details">
                        <button class="step-trigger">
                            <span class="bs-stepper-box">
                                <i data-feather="user"></i>
                            </span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Cliente</span>
                                <span class="bs-stepper-subtitle">Ingrese datos del nuevo cliente.</span>
                            </span>
                        </button>
                    </div>
                    <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
                    <div class="step" data-target="#personal-info">
                        <button class="step-trigger">
                            <span class="bs-stepper-box">2</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Personal Info</span>
                                <span class="bs-stepper-subtitle">Add Personal Info</span>
                            </span>
                        </button>
                    </div>
                    <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
                    <div class="step" data-target="#address">
                        <button class="step-trigger">
                            <span class="bs-stepper-box">3</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Address</span>
                                <span class="bs-stepper-subtitle">Add Address</span>
                            </span>
                        </button>
                    </div>
                    <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
                    <div class="step" data-target="#social-links">
                        <button class="step-trigger">
                            <span class="bs-stepper-box">3</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Social Links</span>
                                <span class="bs-stepper-subtitle">Add Social Links</span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <form (ngSubmit)="(HWForm.form.valid)" #HWForm="ngForm">
                        <div id="account-details" class="content">
                            <form #accountDetailsForm="ngForm">
                                <div class="content-header">
                                    <h5 class="mb-0">Account Details</h5>
                                    <small class="text-muted">Enter Your Account Details.</small>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="username">Username</label>
                                        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text"
                                            name="username" id="username" class="form-control"
                                            [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
                                            placeholder="johndoe" />
                                        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid"
                                            class="invalid-form">
                                            <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This
                                                field is
                                                required!</small>
                                        </span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="email">Email</label>
                                        <input [(ngModel)]="TDEmailVar" #TDEmailRef="ngModel" required email
                                            type="email" name="email" id="email" class="form-control"
                                            [class.error]="!TDEmailRef.valid && accountDetailsForm.submitted"
                                            placeholder="john.doe@email.com" aria-label="john.doe" />
                                        <span *ngIf="accountDetailsForm.submitted" class="invalid-form">
                                            <small class="form-text text-danger" *ngIf="!TDEmailRef.valid">Email must be
                                                valid!</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-password-toggle col-md-6">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" name="password" id="password" class="form-control"
                                            [class.error]="!TDPasswordOnlyRef.valid && accountDetailsForm.submitted"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            ngModel #TDPasswordOnlyRef="ngModel" required minlength="6"
                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                                        <div *ngIf="TDPasswordOnlyRef.invalid && accountDetailsForm.submitted"
                                            class="form-text text-danger">
                                            <small *ngIf="TDPasswordOnlyRef.errors.required"> Password is required.
                                            </small>
                                            <small *ngIf="TDPasswordOnlyRef.errors.pattern">
                                                Must contain at least one number and one uppercase and lowercase letter,
                                                and at
                                                least 8 or more
                                                characters.</small>
                                        </div>
                                    </div>
                                    <div class="form-group form-password-toggle col-md-6">
                                        <label class="form-label" for="confirm-password">Confirm Password</label>
                                        <input type="password" name="confirm-password" id="confirm-password"
                                            class="form-control"
                                            [class.error]="!TDRepeatPasswordRef.valid && accountDetailsForm.submitted"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            required ngModel #TDRepeatPasswordRef="ngModel"
                                            pattern="{{ TDPasswordOnlyRef.value }}" minlength="6" />
                                        <div *ngIf="TDRepeatPasswordRef.invalid && accountDetailsForm.submitted"
                                            class="form-text text-danger">
                                            <small *ngIf="TDRepeatPasswordRef.errors.required"> Confirm password is
                                                required.
                                            </small>
                                            <small *ngIf="TDRepeatPasswordRef.errors.pattern">
                                                Password & Confirm Password does not match.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <button (click)="horizontalWizardStepperPrevious()"
                                        class="btn btn-outline-secondary btn-prev" disabled rippleEffect>
                                        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button (click)="horizontalWizardStepperNext(accountDetailsForm)" type="submit"
                                        class="btn btn-primary btn-next" rippleEffect>
                                        <span class="align-middle d-sm-inline-block d-none">Next</span>
                                        <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div id="personal-info" class="content">
                            <form #personalInfoForm="ngForm">
                                <div class="content-header">
                                    <h5 class="mb-0">Personal Info</h5>
                                    <small>Enter Your Personal Info.</small>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="first-name">First Name</label>
                                        <input [(ngModel)]="TDFirstNameVar" #TDFirstNameRef="ngModel" required
                                            type="text" name="first-name" id="first-name" class="form-control"
                                            [class.error]="personalInfoForm.submitted && TDFirstNameRef.invalid"
                                            placeholder="John" />
                                        <span *ngIf="personalInfoForm.submitted && TDFirstNameRef.invalid"
                                            class="invalid-form">
                                            <small class="form-text text-danger"
                                                *ngIf="TDFirstNameRef.errors.required">This
                                                field is required!</small>
                                        </span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="last-name">Last Name</label>
                                        <input [(ngModel)]="TDLastNameVar" #TDLastNameRef="ngModel" required type="text"
                                            name="last-name" id="last-name" class="form-control"
                                            [class.error]="personalInfoForm.submitted && TDLastNameRef.invalid"
                                            placeholder="Doe" />
                                        <span *ngIf="personalInfoForm.submitted && TDLastNameRef.invalid"
                                            class="invalid-form">
                                            <small class="form-text text-danger"
                                                *ngIf="TDLastNameRef.errors.required">This
                                                field is required!</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="country">Country</label>
                                        <ng-select [items]="selectBasic" bindLabel="name"> </ng-select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="language">Language</label>
                                        <ng-select [items]="selectMulti" [multiple]="true" [closeOnSelect]="false"
                                            [searchable]="false" bindLabel="name" name="selectLanguage"
                                            placeholder="Select people" [(ngModel)]="selectMultiSelected">
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <button (click)="horizontalWizardStepperPrevious()" class="btn btn-primary btn-prev"
                                        rippleEffect>
                                        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button (click)="horizontalWizardStepperNext(personalInfoForm)"
                                        class="btn btn-primary btn-next" rippleEffect>
                                        <span class="align-middle d-sm-inline-block d-none">Next</span>
                                        <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div id="address" class="content">
                            <form #addressForm="ngForm">
                                <div class="content-header">
                                    <h5 class="mb-0">Address</h5>
                                    <small>Enter Your Address.</small>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="address">Address</label>
                                        <input [(ngModel)]="addressVar" #addressRef="ngModel" required type="text"
                                            id="address" name="address" class="form-control"
                                            [class.error]="addressForm.submitted && addressRef.invalid"
                                            placeholder="98  Borough bridge Road, Birmingham" />
                                        <span *ngIf="addressForm.submitted && addressRef.invalid" class="invalid-form">
                                            <small class="form-text text-danger" *ngIf="addressRef.errors.required">This
                                                field
                                                is required!</small>
                                        </span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="landmark">Landmark</label>
                                        <input [(ngModel)]="landmarkVar" #landmarkRef="ngModel" required type="text"
                                            name="landmark" id="landmark" class="form-control"
                                            [class.error]="addressForm.submitted && landmarkRef.invalid"
                                            placeholder="Borough bridge" />
                                        <span *ngIf="addressForm.submitted && landmarkRef.invalid" class="invalid-form">
                                            <small class="form-text text-danger"
                                                *ngIf="landmarkRef.errors.required">This field
                                                is required!</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="pincode1">Pincode</label>
                                        <input type="text" id="pincode1" class="form-control" placeholder="658921" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="city1">City</label>
                                        <input type="text" id="city1" class="form-control" placeholder="Birmingham" />
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <button (click)="horizontalWizardStepperPrevious()" class="btn btn-primary btn-prev"
                                        rippleEffect>
                                        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button (click)="horizontalWizardStepperNext(addressForm)"
                                        class="btn btn-primary btn-next" rippleEffect>
                                        <span class="align-middle d-sm-inline-block d-none">Next</span>
                                        <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div id="social-links" class="content">
                            <form #socialLinkForm="ngForm">
                                <div class="content-header">
                                    <h5 class="mb-0">Social Links</h5>
                                    <small>Enter Your Social Links.</small>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="twitter">Twitter</label>
                                        <input [(ngModel)]="twitterVar" #twitterkRef="ngModel" required type="text"
                                            id="twitter" name="twitter" class="form-control"
                                            [class.error]="socialLinkForm.submitted && twitterkRef.invalid"
                                            placeholder="https://twitter.com/abc" />
                                        <span *ngIf="socialLinkForm.submitted && twitterkRef.invalid"
                                            class="invalid-form">
                                            <small class="form-text text-danger"
                                                *ngIf="twitterkRef.errors.required">This field
                                                is required!</small>
                                        </span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="facebook">Facebook</label>
                                        <input [(ngModel)]="facebookVar" #facebookRef="ngModel" required type="text"
                                            id="facebook" name="facebook" class="form-control"
                                            [class.error]="socialLinkForm.submitted && facebookRef.invalid"
                                            placeholder="https://facebook.com/abc" />
                                        <span *ngIf="socialLinkForm.submitted && facebookRef.invalid"
                                            class="invalid-form">
                                            <small class="form-text text-danger"
                                                *ngIf="facebookRef.errors.required">This field
                                                is required!</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="google">Google+</label>
                                        <input [(ngModel)]="googleVar" #googleRef="ngModel" required type="text"
                                            id="google" name="google" class="form-control"
                                            [class.error]="socialLinkForm.submitted && googleRef.invalid"
                                            placeholder="https://plus.google.com/abc" />
                                        <span *ngIf="socialLinkForm.submitted && googleRef.invalid"
                                            class="invalid-form">
                                            <small class="form-text text-danger" *ngIf="googleRef.errors.required">This
                                                field is
                                                required!</small>
                                        </span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="linkedin">Linkedin</label>
                                        <input [(ngModel)]="linkedinVar" #linkedinRef="ngModel" required type="text"
                                            id="linkedin" name="linkedin" class="form-control"
                                            [class.error]="socialLinkForm.submitted && linkedinRef.invalid"
                                            placeholder="https://linkedin.com/abc" />
                                        <span *ngIf="socialLinkForm.submitted && linkedinRef.invalid"
                                            class="invalid-form">
                                            <small class="form-text text-danger"
                                                *ngIf="linkedinRef.errors.required">This field
                                                is required!</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <button (click)="horizontalWizardStepperPrevious()" class="btn btn-primary btn-prev"
                                        rippleEffect>
                                        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button class="btn btn-success btn-submit" rippleEffect>Submit</button>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </section> -->
        <!--/ Horizontal Wizard -->
    </div>
</div>

<form class="form">
    <div class="row">
        <!-- Menu de solicitudes -->
        <!-- <div class="botoneras_selec_Config"> -->
        <div class="col-md-4 col-12 col-xs-12">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" rippleEffect>
                    Coincidentes
                </button>
            </div>
        </div>
        <div class="col-md-8 col-12 col-xs-12" style="text-align: right !important;">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" rippleEffect>
                    <i data-feather="car" class="font-medium-1 cursor-pointer"></i>
                    + Solicitud
                </button>
                <button type="button" class="btn btn-primary" rippleEffect>
                    <i data-feather="clipboard" class="font-medium-1 cursor-pointer"></i>
                    + Tarea
                </button>
                <button type="button" class="btn btn-primary" rippleEffect>
                    <i data-feather="mail" class="font-medium-3 cursor-pointer"></i>
                    + Anotacion
                </button>
            </div>
        </div>
        <!-- </div> -->

        <!-- Cabecera Modelo -->
        <div class="card col-lg-6 col-xs-12">
            <div class="card-body">
                <div class="row">
                    <!-- <div class="cabecera"> -->
                    <!-- Consecionario -->
                    <div class="col-md-6 col-12 col-xs-12">
                        <div class="form-group">
                            <label for="consecionarias">Consecionario</label>
                            <input type="text" id="consecionarias" class="form-control" placeholder="Consecionaria"
                                name="consecionarias" />
                        </div>
                    </div>
                    <!-- Origen -->
                    <div class="col-md-3 col-12 col-xs-12">
                        <div class="form-group">
                            <label for="origen-column">Origen</label>
                            <select class="form-control form-control-lg mb-1" id="origen-column">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <!-- canal -->
                    <div class="col-md-3 col-12 col-xs-12">
                        <div class="form-group">
                            <label for="canal-column">Canal</label>
                            <select class="form-control form-control-lg mb-1" id="canal-column">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <!-- Nombre Usuario Logueado -->
                    <div class="col-md-4 col-12 col-xs-12">
                        <div class="form-group">
                            <label for="usuario-logueado-floating">
                                <i data-feather="user"></i>
                            </label>
                            <input type="text" id="usuario-logueado-floating" class="form-control" name="usuario-logueado-floating"
                                placeholder="Usuario Logueado" />
                        </div>
                    </div>
                    <!-- Lead no atendido -->
                    <div class="col-md-4 col-12 col-xs-12">
                        <div class="form-group">
                            <label for="lead-no">Lead no atendido</label>
                            <select class="form-control form-control-lg mb-1" id="lead-no">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
            
                    <!-- Visita Expo -->
                    <div class="col-md-4 col-12 col-xs-12">
                        <button type="button" class="btn btn-outline-success" rippleEffect>
                            <span [data-feather]="'shopping-bag'" [class]="'mr-25'"></span>
                            Visita Expo
                        </button>
                    </div>
                    <!-- </div> -->

                    <!-- Selecciona el modelo de pagina que se debe rellenar -->
                    <!-- <div class="selecTipo"> -->
                    <!-- Formulario Tipo -->
                    <div class="tipoFormulario">
                        <!-- Tipo -->
                        <div class="col-md-8 col-6 col-xs-6">
                            <div class="form-group">
                                <div class="btn-group btn-group-toggle">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" [(ngModel)]="particularTipo" id="tipo1" name="tipo" value="true" class="custom-control-input" checked />
                                        <label class="custom-control-label" for="tipo1">Particular</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" [(ngModel)]="autonomoTipo" id="tipo2" name="tipo" value="true" class="custom-control-input" />
                                        <label class="custom-control-label" for="tipo2">Autonomo</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" [(ngModel)]="empresaTipo" id="tipo3" name="tipo" value="true" class="custom-control-input" />
                                        <label class="custom-control-label" for="tipo2">Empresa</label>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                
                    <!-- Calificacion -->
                    <div class="col-md-4 col-6 col-xs-6">
                        <div class="form-group">
                            <label for="Califica-Cliente-column">

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="star1" name="star1" class="custom-control-input" />
                                    <label class="custom-control-label" for="star1">
                                        <i data-feather="star" class="font-medium-3 estrellita cursor-pointer"></i>
                                    </label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="star2" name="star2" class="custom-control-input" />
                                    <label class="custom-control-label" for="star2">
                                        <i data-feather="star" class="font-medium-3 estrellita cursor-pointer"></i>
                                    </label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="star3" name="star3" class="custom-control-input" />
                                    <label class="custom-control-label" for="star3">
                                        <i data-feather="star" class="font-medium-3 estrellita cursor-pointer"></i>
                                    </label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="star4" name="star4" class="custom-control-input" />
                                    <label class="custom-control-label" for="star4">
                                        <i data-feather="star" class="font-medium-3 cursor-pointer"></i>
                                    </label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="star5" name="star5" class="custom-control-input" />
                                    <label class="custom-control-label" for="star5">
                                        <i data-feather="star" class="font-medium-3 cursor-pointer"></i>
                                    </label>
                                </div>

                            </label>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <!-- Formulario Empresa -->
        <div class="card col-lg-6 col-xs-12" *ngIf="empresaTipo">
            <div class="card-body">
                <div class="row">
                    <!-- <div class="empresa"> -->
                    <!-- Nombre Empresa -->
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="Empresa-colum">Nombre Empresa</label>
                            <input type="text" id="Empresa-colum" class="form-control" placeholder="Nombre Empresa"
                                name="empresa-column" />
                        </div>
                    </div>
                    <!-- Identidad -->
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="CIF-colum">CIF/NIF/IDENTIFICADOR</label>
                            <input type="number" id="CIF-colum" class="form-control" placeholder="CIF/NIF/IDENTIFICADOR"
                                name="cif-column" />
                        </div>
                    </div>
                    <!-- Sector -->
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label for="sector-colum">Sector</label>
                            <input type="number" id="sector-colum" class="form-control" placeholder="Sector" name="sector-column" />
                        </div>
                    </div>
                    <!-- Actividad -->
                    <div class="col-md-8 col-12">
                        <div class="form-group">
                            <label for="actividad-colum">Actividad</label>
                            <input type="number" id="actividad-colum" class="form-control" placeholder="Actividad"
                                name="actividad-column" />
                        </div>
                    </div>
                    <!-- Codigo Postal -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="CP-icon-empresa">Codigo Postal</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span [data-feather]="'mail'"></span>
                                    </span>
                                </div>
                                <input type="number" id="CP-icon-empresa" class="form-control" name="CP-icon-empresa"
                                    placeholder="Codigo postal" />
                            </div>
                        </div>
                    </div>
                    <!-- Provincia -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="Provincia-id-icon-empresa">Provincia</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                </div>
                                <input type="Provincia" id="Provincia-id-icon-empresa" class="form-control"
                                    name="Provincia-id-icon-empresa" placeholder="Provincia" />
                            </div>
                        </div>
                    </div>
                    <!-- Localidad -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="Localidad-id-icon-empresa">Localidad</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'map-pin'"></span></span>
                                </div>
                                <input type="Localidad" id="Localidad-id-icon-empresa" class="form-control"
                                    name="Localidad-id-icon-empresa" placeholder="Localidad" />
                            </div>
                        </div>
                    </div>
                    <!-- direccion -->
                    <div class="col-lg-12 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="direccion-id-icon-empresa">Direccion</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'map-pin'"></span></span>
                                </div>
                                <input type="direccion" id="direccion-id-icon-empresa" class="form-control"
                                    name="direccion-id-icon-empresa" placeholder="direccion" />
                            </div>
                        </div>
                    </div>

                    <!-- total -->
                    <div class="col-lg-4 col-md-4 col-xs-6">
                        <div class="form-group">
                            <label for="total-id-icon-empresa">N° Total Vehiculos</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'truck'"></span></span>
                                </div>
                                <input type="number" id="total-id-icon-empresa" class="form-control" name="total-id-icon-empresa"
                                    placeholder="N° Total" />
                            </div>
                        </div>
                    </div>
                    <!-- flota -->
                    <div class="col-lg-4 col-md-4 col-xs-6">
                        <div class="form-group">
                            <label for="flota-id-icon-empresa">N° Vehiculos Flota </label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'truck'"></span></span>
                                </div>
                                <input type="number" id="flota-id-icon-empresa" class="form-control" name="flota-id-icon-empresa"
                                    placeholder="N° flota" />
                            </div>
                        </div>
                    </div>
                    <!-- comerciales -->
                    <div class="col-lg-4 col-md-4 col-xs-6">
                        <div class="form-group">
                            <label for="comerciales-id-icon-empresa">N° Vehiculos comerciales </label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'truck'"></span></span>
                                </div>
                                <input type="number" id="comerciales-id-icon-empresa" class="form-control"
                                    name="comerciales-id-icon-empresa" placeholder="N° comerciales" />
                            </div>
                        </div>
                    </div>

                    <!-- metodo -->
                    <div class="col-md-4 col-12 col-xs-12">
                        <div class="form-group">
                            <label for="metodo-column">Metodo Adquisicion</label>
                            <select class="form-control form-control-lg mb-1" id="metodo-column">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>

                    <!-- Notas Financieras -->
                    <div class="col-md-8 col-12 col-xs-12">
                        <div class="form-group">
                            <label for="notas-column">Notas Financieras</label>
                            <input type="text" id="notas-column" class="form-control" name="notas-column" placeholder="notas" />
                        </div>
                    </div>

                    <!-- facturacion -->
                    <div class="col-md-4 col-12 col-xs-12">
                        <div class="form-group">
                            <label for="facturacion-column">Facturacion</label>
                            <select class="form-control form-control-lg mb-1" id="facturacion-column">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>

                    <!-- empleados -->
                    <div class="col-md-4 col-12 col-xs-12">
                        <div class="form-group">
                            <label for="empleados-column">empleados</label>
                            <select class="form-control form-control-lg mb-1" id="empleados-column">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Formulario Personal -->
        <div class="card col-lg-6 col-xs-12" *ngIf="autonomoTipo">
            <div class="card-body">
                <div class="row">
                    <!-- nombre -->
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre-icon">Nombre</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'user'"></span></span>
                                </div>
                                <input type="text" id="nombre-icon" class="form-control" name="nombre-icon" placeholder="Nombre" />
                            </div>
                        </div>
                    </div>
                    <!-- Apellido -->
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="apellido-icon">Apellido</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'user'"></span></span>
                                </div>
                                <input type="text" id="apellido-icon" class="form-control" name="apellido-icon"
                                    placeholder="Apellido" />
                            </div>
                        </div>
                    </div>
                    <!-- Telefono -->
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="contact-info-icon">Mobile</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'smartphone'"></span></span>
                                </div>
                                <input type="number" id="contact-info-icon" class="form-control" name="contact-icon"
                                    placeholder="Mobile" />
                            </div>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="col-lg-8 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="email-id-icon">Email</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                </div>
                                <input type="email" id="email-id-icon" class="form-control" name="email-id-icon"
                                    placeholder="Email" />
                            </div>
                        </div>
                    </div>
                    <!-- Codigo Postal -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="CP-icon">Codigo Postal</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span [data-feather]="'mail'"></span>
                                    </span>
                                </div>
                                <input type="number" id="CP-icon" class="form-control" name="CP-icon" placeholder="Codigo postal" />
                            </div>
                        </div>
                    </div>
                    <!-- Provincia -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="Provincia-id-icon">Provincia</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                </div>
                                <input type="Provincia" id="Provincia-id-icon" class="form-control" name="Provincia-id-icon"
                                    placeholder="Provincia" />
                            </div>
                        </div>
                    </div>
                    <!-- Localidad -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="Localidad-id-icon">Localidad</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                </div>
                                <input type="Localidad" id="Localidad-id-icon" class="form-control" name="Localidad-id-icon"
                                    placeholder="Localidad" />
                            </div>
                        </div>
                    </div>

                    <!-- direccion -->
                    <div class="col-lg-12 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="direccion-id-icon">Direccion</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'map-pin'"></span></span>
                                </div>
                                <input type="direccion" id="direccion-id-icon" class="form-control" name="direccion-id-icon"
                                    placeholder="direccion" />
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <!-- Formulario Particular -->
        <div class="card col-lg-6 col-xs-12" *ngIf="particularTipo">
            <div class="card-body">
                <div class="row">
                    <!-- nombre -->
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre-icon">Nombre</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'user'"></span></span>
                                </div>
                                <input type="text" id="nombre-icon" class="form-control" name="nombre-icon" placeholder="Nombre" />
                            </div>
                        </div>
                    </div>
                    <!-- Apellido -->
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="apellido-icon">Apellido</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'user'"></span></span>
                                </div>
                                <input type="text" id="apellido-icon" class="form-control" name="apellido-icon"
                                    placeholder="Apellido" />
                            </div>
                        </div>
                    </div>
                    <!-- Telefono -->
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="contact-info-icon">Mobile</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'smartphone'"></span></span>
                                </div>
                                <input type="number" id="contact-info-icon" class="form-control" name="contact-icon"
                                    placeholder="Mobile" />
                            </div>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="col-lg-8 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="email-id-icon">Email</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                </div>
                                <input type="email" id="email-id-icon" class="form-control" name="email-id-icon"
                                    placeholder="Email" />
                            </div>
                        </div>
                    </div>
                    <!-- Codigo Postal -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="CP-icon">Codigo Postal</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span [data-feather]="'mail'"></span>
                                    </span>
                                </div>
                                <input type="number" id="CP-icon" class="form-control" name="CP-icon" placeholder="Codigo postal" />
                            </div>
                        </div>
                    </div>
                    <!-- Provincia -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="Provincia-id-icon">Provincia</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                </div>
                                <input type="Provincia" id="Provincia-id-icon" class="form-control" name="Provincia-id-icon"
                                    placeholder="Provincia" />
                            </div>
                        </div>
                    </div>
                    <!-- Localidad -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="Localidad-id-icon">Localidad</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                </div>
                                <input type="Localidad" id="Localidad-id-icon" class="form-control" name="Localidad-id-icon"
                                    placeholder="Localidad" />
                            </div>
                        </div>
                    </div>

                    <!-- direccion -->
                    <div class="col-lg-12 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="direccion-id-icon">Direccion</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span [data-feather]="'map-pin'"></span></span>
                                </div>
                                <input type="direccion" id="direccion-id-icon" class="form-control" name="direccion-id-icon"
                                    placeholder="direccion" />
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <!-- Botones -->
        <div class="col-12">
            <button type="submit" rippleEffect class="btn btn-primary mr-1">Guardar</button>
            <button type="reset" rippleEffect class="btn btn-outline-secondary">Cancelar</button>
        </div>

    </div>
</form>
<hr>
