<!-- Contextual classes -->
<div class="row" id="table-contextual">
    <div class="col-12" *ngIf="contactoLista.results">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Contactos </h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Contactos Realizados y asignados al usuario
                </p>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha de alta</th>
                            <th>Ultima Modificacion</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>N° de LLamadas</th>
                            <th>N° de Emails Enviados</th>
                            <th>N° de Whasapp Enviados</th>
                            <th>N° de Tareas Realizadas</th>
                            <th>N° de Seguimientos Realizados</th>
                            <th>Asignado a</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-default" *ngFor="let contacto of contactosLista.results">
                            <td>
                                <span class="font-weight-bold">{{contacto.created | date:'medium'}}</span>
                            </td>
                            <td>{{contacto.modified | date:'medium'}}</td>
                            <td>{{contacto.nombre}}</td>
                            <td> 
                                <span class="badge badge-pill badge-light-primary mr-1">
                                    {{contacto.status}}
                                </span>
                            </td>
                            <td>{{contacto.sent_phone_call_count}}</td>
                            <td>{{contacto.sent_emails_count}}</td>
                            <td>{{contacto.sent_whatsapp_count}}</td>
                            <td>{{contacto.task_count}}</td>
                            <td>{{contacto.tracking_count}}</td>
                            <td>{{contacto.user_data.username}}</td>
                            <!-- <td>
                                <div class="avatar-group">
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0" ngbTooltip="">
                                        <td>{{contacto.user_data.username}}</td>
                                    </div>
                                </div>
                            </td> -->
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                        data-toggle="dropdown">
                                        <i data-feather="more-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0);">
                                            <i data-feather="edit-2" class="mr-50"></i>
                                            <span>Edit</span>
                                        </a>
                                        <a ngbDropdownItem href="javascript:void(0);">
                                            <i data-feather="trash" class="mr-50"></i>
                                            <span>Delete</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!-- <tr class="table-active">
                            <td>
                                <img src="assets/images/icons/react.svg" class="mr-75" height="20" width="20"
                                    alt="React" /><span class="font-weight-bold">React Project</span>
                            </td>
                            <td>Ronald Frest</td>
                            <td>
                                <div class="avatar-group">
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge badge-pill badge-light-success mr-1">Completed</span></td>
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                        data-toggle="dropdown">
                                        <i data-feather="more-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                                                class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem
                                            href="javascript:void(0);"><i data-feather="trash"
                                                class="mr-50"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-primary">
                            <td>
                                <img src="assets/images/icons/angular.svg" class="mr-75" height="20" width="20"
                                    alt="Angular" /><span class="font-weight-bold">Angular Project</span>
                            </td>
                            <td>Peter Charls</td>
                            <td>
                                <div class="avatar-group">
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge badge-pill badge-light-primary mr-1">Active</span></td>
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                        data-toggle="dropdown">
                                        <i data-feather="more-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                                                class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem
                                            href="javascript:void(0);"><i data-feather="trash"
                                                class="mr-50"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-secondary">
                            <td>
                                <img src="assets/images/icons/vuejs.svg" class="mr-75" height="20" width="20"
                                    alt="Vuejs" /><span class="font-weight-bold">Vuejs Project</span>
                            </td>
                            <td>Jack Obes</td>
                            <td>
                                <div class="avatar-group">
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge badge-pill badge-light-secondary mr-1">Scheduled</span></td>
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                        data-toggle="dropdown">
                                        <i data-feather="more-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                                                class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem
                                            href="javascript:void(0);"><i data-feather="trash"
                                                class="mr-50"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-success">
                            <td>
                                <img src="assets/images/icons/bootstrap.svg" class="mr-75" height="20" width="20"
                                    alt="Bootstrap" /><span class="font-weight-bold">Bootstrap Project</span>
                            </td>
                            <td>Jerry Milton</td>
                            <td>
                                <div class="avatar-group">
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge badge-pill badge-light-success mr-1">Pending</span></td>
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                        data-toggle="dropdown">
                                        <i data-feather="more-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                                                class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem
                                            href="javascript:void(0);"><i data-feather="trash"
                                                class="mr-50"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-danger">
                            <td>
                                <img src="assets/images/icons/figma.svg" class="mr-75" height="20" width="20"
                                    alt="Figma" /><span class="font-weight-bold">Figma Project</span>
                            </td>
                            <td>Janne Ale</td>
                            <td>
                                <div class="avatar-group">
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge badge-pill badge-light-danger mr-1">Active</span></td>
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                        data-toggle="dropdown">
                                        <i data-feather="more-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                                                class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem
                                            href="javascript:void(0);"><i data-feather="trash"
                                                class="mr-50"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-warning">
                            <td>
                                <img src="assets/images/icons/react.svg" class="mr-75" height="20" width="20"
                                    alt="React" /><span class="font-weight-bold">React Custom</span>
                            </td>
                            <td>Ted Richer</td>
                            <td>
                                <div class="avatar-group">
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge badge-pill badge-light-warning mr-1">Scheduled</span></td>
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                        data-toggle="dropdown">
                                        <i data-feather="more-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                                                class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem
                                            href="javascript:void(0);"><i data-feather="trash"
                                                class="mr-50"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-info">
                            <td>
                                <img src="assets/images/icons/bootstrap.svg" class="mr-75" height="20" width="20"
                                    alt="Bootstrap" /><span class="font-weight-bold">Latest Bootstrap</span>
                            </td>
                            <td>Perry Parker</td>
                            <td>
                                <div class="avatar-group">
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge badge-pill badge-light-info mr-1">Pending</span></td>
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                        data-toggle="dropdown">
                                        <i data-feather="more-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                                                class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem
                                            href="javascript:void(0);"><i data-feather="trash"
                                                class="mr-50"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <td>
                                <img src="assets/images/icons/angular.svg" class="mr-75" height="20" width="20"
                                    alt="Angular" /><span class="font-weight-bold">Angular UI</span>
                            </td>
                            <td>Ana Bell</td>
                            <td>
                                <div class="avatar-group">
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge badge-pill badge-light-primary mr-1">Completed</span></td>
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                        data-toggle="dropdown">
                                        <i data-feather="more-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                                                class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem
                                            href="javascript:void(0);"><i data-feather="trash"
                                                class="mr-50"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>
                                <img src="assets/images/icons/bootstrap.svg" class="mr-75" height="20" width="20"
                                    alt="Bootstrap" /><span class="font-weight-bold">Bootstrap UI</span>
                            </td>
                            <td>Jerry Milton</td>
                            <td>
                                <div class="avatar-group">
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                    <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top"
                                        container="body" title="" class="avatar pull-up my-0"
                                        ngbTooltip="Alberto Glotzbach">
                                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26"
                                            width="26" />
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge badge-pill badge-light-dark mr-1">Completed</span></td>
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                        data-toggle="dropdown">
                                        <i data-feather="more-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                                                class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem
                                            href="javascript:void(0);"><i data-feather="trash"
                                                class="mr-50"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" (click)="datos_API_contactos( contactoLista.previous.replace('https://sail.artificialintelligencelead.com/api/', '/API_BASE/') )" class="btn btn-secondary">
                        Anterior
                    </button>
                    <button type="button" (click)="datos_API_contactos( contactoLista.next.replace('https://sail.artificialintelligencelead.com/api/', '/API_BASE/') )" class="btn btn-secondary">
                        Siguiente
                    </button>
                </div>
            </div>
         </div>   
    </div>
</div>
<!--/ Contextual classes -->

