<form class="form">
    <div class="row">
        <div class="col-md-12 col-12 col-xs-12">
            <div class="btn-group" role="group" aria-label="botonera formulario">
                <button type="button" class="btn btn-primary" rippleEffect>Coincidentes</button>

                <button type="button" class="btn btn-primary" rippleEffect>
                    <i data-feather="car" class="font-medium-1 cursor-pointer"></i>
                    + Solicitud
                </button>
                <button type="button" class="btn btn-primary" rippleEffect>
                    <i data-feather="clipboard" class="font-medium-1 cursor-pointer"></i>
                    + Tarea
                </button>
                <button type="button" class="btn btn-primary" rippleEffect>
                    <i data-feather="mail" class="font-medium-3 cursor-pointer"></i>
                    + Anotacion
                </button>
                <button type="button" class="btn btn-primary" rippleEffect>

                </button>
            </div>
        </div>
      <!-- Consecionario -->
        <div class="col-md-8 col-12 col-xs-12">
            <div class="form-group">
                <label for="consecionarias">Consecionario</label>
                <input type="text" id="consecionarias" class="form-control" placeholder="Consecionaria"
                    name="consecionarias" />
            </div>
        </div>
      <!-- Origen -->
        <div class="col-md-4 col-12 col-xs-12">
            <div class="form-group">
                <label for="origen-column">Origen</label>
                <select class="form-control form-control-lg mb-1" id="origen-column">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <!-- canal -->
        <div class="col-md-4 col-12 col-xs-12">
            <div class="form-group">
                <label for="canal-column">Canal</label>
                <select class="form-control form-control-lg mb-1" id="canal-column">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <!-- Nombre Usuario Logueado -->
        <div class="col-md-4 col-12 col-xs-12">
            <div class="form-group">
                <label for="usuario-logueado-floating">
                    <i data-feather="user"></i>
                </label>
                <input type="text" id="usuario-logueado-floating" class="form-control" name="usuario-logueado-floating"
                    placeholder="Usuario Logueado" />
            </div>
        </div>
        <!-- Lead no atendido -->
        <div class="col-md-4 col-12 col-xs-12">
            <div class="form-group">
                <label for="lead-no">Led no atendido</label>
                <select class="form-control form-control-lg mb-1" id="lead-no">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>

        <!-- Calificacion -->
        <div class="col-md-4 col-6 col-xs-6">
            <div class="form-group">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked />
                    <label class="custom-control-label" for="customRadio1">Checked</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
                    <label class="custom-control-label" for="customRadio2">Unchecked</label>
                </div>
            </div>
        </div>

        <!-- Calificacion -->
        <div class="col-md-4 col-6 col-xs-6">
            <div class="form-group">
                <label for="Califica-Cliente-column">
 
                    <div class="custom-control custom-radio">
                        <input type="radio" id="star1" name="star1" class="custom-control-input" />
                        <label class="custom-control-label" for="star1">
                            <i data-feather="star" class="font-medium-3 estrellita cursor-pointer"></i>
                        </label>
                    </div>
                    
                    <div class="custom-control custom-radio">
                        <input type="radio" id="star2" name="star2" class="custom-control-input" />
                        <label class="custom-control-label" for="star2">
                            <i data-feather="star" class="font-medium-3 estrellita cursor-pointer"></i>
                        </label>
                    </div>
                    
                    <div class="custom-control custom-radio">
                        <input type="radio" id="star3" name="star3" class="custom-control-input" />
                        <label class="custom-control-label" for="star3">
                            <i data-feather="star" class="font-medium-3 estrellita cursor-pointer"></i>
                        </label>
                    </div>
                    
                    <div class="custom-control custom-radio">
                        <input type="radio" id="star4" name="star4" class="custom-control-input" />
                        <label class="custom-control-label" for="star4">
                            <i data-feather="star" class="font-medium-3 cursor-pointer"></i>
                        </label>
                    </div>
                    
                    <div class="custom-control custom-radio">
                        <input type="radio" id="star5" name="star5" class="custom-control-input" />
                        <label class="custom-control-label" for="star5">
                            <i data-feather="star" class="font-medium-3 cursor-pointer"></i>
                        </label>
                    </div>
                    
                </label>
            </div>
        </div>

        <!-- Email -->
        <div class="col-md-4 col-12 col-xs-12">
            <div class="form-group">
                <label for="email-id-column">Email</label>
                <input type="email" id="email-id-column" class="form-control" name="email-id-column"
                    placeholder="Email" />
            </div>
        </div>
        
        <!-- Botones -->
        <div class="col-12">
            <button type="submit" rippleEffect class="btn btn-primary mr-1">Submit</button>
            <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
        </div>
    </div>
</form>