<form class="form">
    <div class="row">
        <div class="col-md-4 col-12 col-xs-12">
            <button type="button" class="btn btn-primary" rippleEffect>
                Coincidentes
            </button>
        </div>
        <div class="col-md-8 col-12 col-xs-12">
            <button type="button" class="btn btn-primary" rippleEffect>
                <i data-feather="car" class="font-medium-1 cursor-pointer"></i>
                + Solicitud
            </button>
            <button type="button" class="btn btn-primary" rippleEffect>
                <i data-feather="clipboard" class="font-medium-1 cursor-pointer"></i>
                + Tarea
            </button>
            <button type="button" class="btn btn-primary" rippleEffect>
                <i data-feather="mail" class="font-medium-3 cursor-pointer"></i>
                + Anotacion
            </button>
        </div>

        <!-- Consecionario -->
        <div class="col-md-8 col-12 col-xs-12">
            <div class="form-group">
                <label for="consecionarias">Consecionario</label>
                <input type="text" id="consecionarias" class="form-control" placeholder="Consecionaria"
                    name="consecionarias" />
            </div>
        </div>
      <!-- Origen -->
        <div class="col-md-4 col-12 col-xs-12">
            <div class="form-group">
                <label for="origen-column">Origen</label>
                <select class="form-control form-control-lg mb-1" id="origen-column">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <!-- canal -->
        <div class="col-md-4 col-12 col-xs-12">
            <div class="form-group">
                <label for="canal-column">Canal</label>
                <select class="form-control form-control-lg mb-1" id="canal-column">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <!-- Nombre Usuario Logueado -->
        <div class="col-md-4 col-12 col-xs-12">
            <div class="form-group">
                <label for="usuario-logueado-floating">
                    <i data-feather="user"></i>
                </label>
                <input type="text" id="usuario-logueado-floating" class="form-control" name="usuario-logueado-floating"
                    placeholder="Usuario Logueado" />
            </div>
        </div>
        <!-- Lead no atendido -->
        <div class="col-md-4 col-12 col-xs-12">
            <div class="form-group">
                <label for="lead-no">Led no atendido</label>
                <select class="form-control form-control-lg mb-1" id="lead-no">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>

        <!-- Tipo -->
        <div class="col-md-8 col-6 col-xs-6">
            <div class="form-group">
                <div class="custom-control custom-radio">
                    <input type="radio" id="tipo1" name="tipo" class="custom-control-input" checked />
                    <label class="custom-control-label" for="tipo1">Particular</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="tipo2" name="tipo" class="custom-control-input" />
                    <label class="custom-control-label" for="tipo2">Autonomo</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="tipo3" name="tipo" class="custom-control-input" />
                    <label class="custom-control-label" for="tipo2">Empresa</label>
                </div>
            </div>
        </div>

        <!-- Calificacion -->
        <div class="col-md-4 col-6 col-xs-6">
            <div class="form-group">
                <label for="Califica-Cliente-column">
 
                    <div class="custom-control custom-radio">
                        <input type="radio" id="star1" name="star1" class="custom-control-input" />
                        <label class="custom-control-label" for="star1">
                            <i data-feather="star" class="font-medium-3 estrellita cursor-pointer"></i>
                        </label>
                    </div>
                    
                    <div class="custom-control custom-radio">
                        <input type="radio" id="star2" name="star2" class="custom-control-input" />
                        <label class="custom-control-label" for="star2">
                            <i data-feather="star" class="font-medium-3 estrellita cursor-pointer"></i>
                        </label>
                    </div>
                    
                    <div class="custom-control custom-radio">
                        <input type="radio" id="star3" name="star3" class="custom-control-input" />
                        <label class="custom-control-label" for="star3">
                            <i data-feather="star" class="font-medium-3 estrellita cursor-pointer"></i>
                        </label>
                    </div>
                    
                    <div class="custom-control custom-radio">
                        <input type="radio" id="star4" name="star4" class="custom-control-input" />
                        <label class="custom-control-label" for="star4">
                            <i data-feather="star" class="font-medium-3 cursor-pointer"></i>
                        </label>
                    </div>
                    
                    <div class="custom-control custom-radio">
                        <input type="radio" id="star5" name="star5" class="custom-control-input" />
                        <label class="custom-control-label" for="star5">
                            <i data-feather="star" class="font-medium-3 cursor-pointer"></i>
                        </label>
                    </div>
                    
                </label>
            </div>
        </div>

        <!-- nombre -->
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label for="nombre-icon">Nombre</label>
                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span [data-feather]="'user'"></span></span>
                    </div>
                    <input type="text" id="nombre-icon" class="form-control" name="nombre-icon"
                        placeholder="Nombre" />
                </div>
            </div>
        </div>
        <!-- Apellido -->
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label for="apellido-icon">Apellido</label>
                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span [data-feather]="'user'"></span></span>
                    </div>
                    <input type="text" id="apellido-icon" class="form-control" name="apellido-icon"
                        placeholder="Apellido" />
                </div>
            </div>
        </div>
        <!-- Telefono -->
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="form-group">
                <label for="contact-info-icon">Mobile</label>
                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span [data-feather]="'smartphone'"></span></span>
                    </div>
                    <input type="number" id="contact-info-icon" class="form-control" name="contact-icon" placeholder="Mobile" />
                </div>
            </div>
        </div>
        <!-- Email -->
        <div class="col-lg-8 col-md-6 col-xs-12">
            <div class="form-group">
                <label for="email-id-icon">Email</label>
                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                    </div>
                    <input type="email" id="email-id-icon" class="form-control" name="email-id-icon"
                        placeholder="Email" />
                </div>
            </div>
        </div>
          
     
        <!-- Codigo Postal -->
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label for="CP-icon">Codigo Postal</label>
                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span [data-feather]="'mail'"></span>
                        </span>
                    </div>
                    <input type="number" id="CP-icon" class="form-control" name="CP-icon"
                        placeholder="Codigo postal" />
                </div>
            </div>
        </div>
          
     
        <!-- Provincia -->
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label for="Provincia-id-icon">Provincia</label>
                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                    </div>
                    <input type="Provincia" id="Provincia-id-icon" class="form-control" name="Provincia-id-icon"
                        placeholder="Provincia" />
                </div>
            </div>
        </div>
     
        <!-- Localidad -->
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label for="Localidad-id-icon">Localidad</label>
                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                    </div>
                    <input type="Localidad" id="Localidad-id-icon" class="form-control" name="Localidad-id-icon"
                        placeholder="Localidad" />
                </div>
            </div>
        </div>
          
        <!-- Botones -->
        <div class="col-12">
            <button type="submit" rippleEffect class="btn btn-primary mr-1">Guardar</button>
            <button type="reset" rippleEffect class="btn btn-outline-secondary">Cancelar</button>
        </div>
     
        
    </div>
</form>