<div class="col-md-12">
    <div class="col-md-12">
        <i class="fa fa-car" aria-hidden="true"></i>
    </div>
    <div class="col-md-12 filtros">
        
    </div>
    <div class="col-md-12 lista">
        <div class="col-md-12">
            <h4>Titulo</h4>    
        </div>    
        <div class="col-md-12">
            <div class="dropdown open">
                <button 
                class="btn btn-secondary dropdown-toggle" 
                type="button" 
                id="triggerId" 
                data-toggle="dropdown" 
                aria-haspopup="true"
                aria-expanded="false">
                    Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                    <button class="dropdown-item" href="#">
                        Editar
                    </button>
                    <button class="dropdown-item disabled" href="#">
                        Dar de Baja
                    </button>
                </div>
            </div>
        </div>    
    </div>
</div>